<div class="ui menu header">
    <div class="ui container">
      <div class="ui tiny image">
          <a [routerLink]="['/boats']" aria-label="Boats">
            <img src="/assets/themes/default/assets/fonts/noun_30950_cc.svg">
          </a>
      </div>
      <div class="header item">
        <h1>Stay On A Boat</h1>
      </div>
      <div class="item" *ngIf="auth.isLoggedIn()">
        <button [routerLink]="['/new']" class="ui basic button">
          <i class="add user icon" aria-hidden="true"></i>
          Add Boat
        </button>
      </div>
      <div class="right menu" *ngIf="auth.isLoggedIn()">
        <button class="ui primary button logout" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
