<!-- <div class="ui card">
  <div class="image">
    <img [src]="updateBoat?.photoUrlexterior">
  </div>
  <div class="image">
    <img [src]="updateBoat?.photoUrlinterior">
  </div>
  <div class="content">
    <a class="header">{{updateBoat.name}}</a>
    <div class="description">
      {{updateBoat.address}} {{updateBoat.city}}, {{updateBoat.state}}  {{updateBoat.zip}}
    </div>
  </div>
  <div class="extra content">
    <span>
      <i class="call icon"></i>
      {{updateBoat.phone}}
    </span>
  </div>
</div> -->

<div class="update-form-container">
    <!-- <div class="ui icon message" *ngIf="updateBoat">
        <i class="notched check green icon"></i>
        <i class="close icon" (click)="newBoat = null"></i>
        <div class="content">
          <div class="header">
            Boat updated!
          </div>
          <p>Name: {{updateBoat.name}}</p>
        </div>
    </div> -->
    <form class="ui big form" #updateBoatForm="ngForm" (submit)="onSubmit(updateBoatForm)" [class.loading]="loading">
      <!-- <div class="fields">
        <div class="eight wide field">
          <label>First Name</label>
          <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="updateBoat.firstName">
        </div>
        <div class="eight wide field">
          <label>Last Name</label>
          <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="updateBoat.lastName">
        </div>
      </div> -->
      <div class="field">
        <label>Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="updateBoat.name" name="name">
      </div>
      <div class="field">
        <label>Address</label>
        <input type="text" class="form-control" id="address" [(ngModel)]="updateBoat.address" name="address">
      </div>
      <div class="field">
          <label>Address 2</label>
          <input type="text" class="form-control" id="address2" [(ngModel)]="updateBoat.address2" name="address2">
      </div>
      <div class="field">
          <label>City</label>
          <input type="text" class="form-control" id="city" [(ngModel)]="updateBoat.city" name="city">
      </div>
      <div class="field">
          <label>State</label>
          <input type="text" class="form-control" id="state" maxlength="2" [(ngModel)]="updateBoat.state" name="state">
      </div>
      <div class="field">
          <label>Zip Code</label>
          <input type="text" class="form-control" id="zip" maxlength="5" [(ngModel)]="updateBoat.zip" name="zip">
      </div>
      <div class="field">
          <label>Country</label>
          <input type="text" class="form-control" id="country" [(ngModel)]="updateBoat.country" name="country">
      </div>
      <div class="equal width fields">
        <!-- <div class="field">
          <label>Phone</label>
          <input type="text" class="form-control" id="areaCode" maxlength="5" [(ngModel)]="updateBoat.areaCode" name="areaCode">
        </div>
        <div class="field">
          <label>&nbsp;</label>
          <input type="text" class="form-control" id="prefix" maxlength="3" [(ngModel)]="updateBoat.prefix" name="prefix">
        </div>
        <div class="field">
          <label>&nbsp;</label>
          <input type="text" maxlength="4" placeholder="####" name="lineNumber" ngModel>
          <input type="text" class="form-control" id="lineNumber" maxlength="4" [(ngModel)]="updateBoat.lineNumber" name="lineNumber">
        </div> -->
        <div class="field">
          <label>Phone</label>
          <input type="text" class="form-control" id="phone" [(ngModel)]="updateBoat.phone" name="phone">
        </div>
      </div>
      <div class="field">
        <label>Photo URL Exterior</label>
        <input type="text" class="form-control" id="photoUrlexterior" [(ngModel)]="updateBoat.photoUrlexterior" name="photoUrlexterior">
      </div>
      <div class="field">
          <label>Photo URL Interior</label>
          <input type="text" class="form-control" id="photoUrlinterior" [(ngModel)]="updateBoat.photoUrlinterior" name="photoUrlinterior">
      </div>
      <button type="submit" class="ui submit large grey button right floated" (click)="save()">Save</button>
    </form>
  </div>